/* !CONTAINERS */
/*-----------------------------------------*/

.test {
	margin-bottom: 20px;
	position: relative;
}
.test:after {
  content: "";
  display: table;
  clear: both;
}
.focuspoint {
	float: left;
	width: 50%;
	height: 200px;
}
.test .label {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5px;
	background: rgba(0,0,0,0.5);
	color: #fff;
}