/* !TYPOGRAPHY */
/*-----------------------------------------*/
body {
	font-family: sans-serif;
	color: #717171;
	font-size: 12px;
}
a {
	color: #2697ff;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #0074de;
}

/* !INFO */
/*-----------------------------------------*/
#Info {
	position: absolute;
	left: 2%;
	top: 2%;
	width: 20%;
	box-shadow: 0px 0px 13px rgba(0,0,0,0.6);
	background: #fff;
	border: 1px solid #fff;
}
#Info p {
	font-size: 12px;
	padding: 10px;
	margin: 0;
}
#Original {
	position: relative;
}
#Original img {
	width: auto;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0;
}
#Original h4 {
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
	margin: 0;
}
#Original h4 span {
	font-size: 12px;
	padding: 3px 10px;
	border-radius: 100px;
	background: rgba(0,0,0,0.32);
	color: #fff;
}